/*
  Author: H. del Risco
*/

body{
	font-family: sans-serif;
}

nav {
	float: left;
	max-width: 200px;
	height: 100%;
	margin: 0;
	padding: 0;
	padding-left: 10px;
}
footer {
    width: 100%;
    bottom: 0;
    position: fixed;
	background-color: #F5F5F5; 
}
a { text-decoration: none; }
a.notSelected { color: slategray; }
a.selected { color: #a2ca72; font-weight: bold; }

/*User guide*/
section.contentPage {
	padding-left: 10px;
	padding-right: 10px;
	display: inline-block;
}

section.contentPageHidden {
	display: none;
}

aside.contentMenu {
	width:210px;
	margin: auto;
	padding-left:7px;
	padding-right:7px;
	overflow: hidden;
	position: fixed;
	top: 107px;
	right: 15px;
	border-left: 1px solid #a2ca72;
}
aside.contentMenuApp {
	width:210px;
	margin: auto;
	padding-left:7px;
	padding-right:7px;
	overflow: hidden;
	position: fixed;
	top: 0px;
	right: 15px;
	border-left: 1px solid #a2ca72;
}

/*Lists*/
ul {
  list-style: none; /* Remove default bullets */
}

ul li::before {
  content: "\2023";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #a2ca72; /* Change the color */
  /*font-weight: bold; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
}

div.TAPPAS {
	border-radius: 5px;
	border: solid 0.5px lightgray;
	max-width: 180px;
	height: 30px;
	text-align: center;
	vertical-align: middle;
	padding: 0px;
}
div.selBox {
	border-radius: 5px 5px 0px 0px;
	/* a change in 'chrome' broke this, seems to be a bug */
	/* had to move borders to header and content boxes */
	/*border: solid 0.5px lightgray;*/
	background-color: floralwhite;
	max-width: 180px;
	text-align: center;
	padding: 0px;
	cursor: pointer;
}
div.selectedBox {
	border-radius: 5px 5px 0px 0px;
	background-color: #FBA71B;
	cursor: default;
}
div.selBoxHeader {
	border-radius: 5px 5px 0px 0px;
	border: solid 0.5px lightgray;
	border-bottom: solid 0px #E8E8E8;
	background-color: floralwhite;
	padding-top: 2px;
	padding-bottom: 2px;
}
div.selectedBoxHeader {
	border-radius: 5px 5px 0px 0px;
	background-color: #FBA71B;
}
div.selBoxContent {
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: white;
	border: solid 0.5px lightgray;
	border-top: solid 0.5px #E8E8E8;
}
div.selectedBoxContent {
	background-color: floralwhite;
	border-top: solid 0.5px floralwhite;
}
div.sectionTitle {
	background-color: #FBA71B;
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
}
div.contentItem {
	color: slategray;
	font-weight: normal;
	font-size: small;
	cursor: pointer;
}
div.contentItem:hover {
	background-color: floralwhite;
}
div.contentItemSelected {
	color: #a2ca72;
	font-weight: normal;
	font-size: small;
	cursor: pointer;
}
div.contentSubItems {
	border: 0px;
	padding: 0px;
	margin: 0px;
	display: none;
}
div.contentButton {
	width: 25px;
	background-color: gainsboro;
}
div.contentControl {
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	cursor: default;
	color: gray;
	font-size: small; 
}
div.contentButtonOff {
	width: 25px;
	display: inline-block;
	text-align: center;
	cursor: default;
	color:lightgray;
	font-size: small; 
	background-color: transparent;
}
div.contentControl {
	display: inline-block;
	text-align: center;
	border-radius: 2px;
	cursor: default;
}
div.contentControl:hover {
	background-color: #E8E8E8;
	cursor: pointer;
}
span.fakeAnchor {
	color: darkblue;
}
span.fakeAnchor:hover {
	cursor: pointer;
}
span.sectionTitle {
	background-color: #FBA71B;
	font-size: 28px;
	font-weight: bold;
	color: white;
	padding-left: 7px;
	padding-right: 7px;
}
span.contentTitle {
	font-weight: bold;
	font-size: large;
	color: #a2ca72;
}
span.selBoxTitle {
	font-weight: bold;
	font-size: large;
	color: #F3662D;
}
span.selectedBoxTitle {
	color: white;
}
span.specialWords {
	color: darkblue; 
}
span.standout {
	color: darkgreen; 
}
span.attention {
    color: orangered;
}
span.notes {
	font-size: small;
	font-weight: normal;
	color: gray;
}
span.button {
	padding: 7px;
	cursor: pointer;
	color: dimgray;
}
span.button:hover {
	background-color: honeydew;
}
img.slideBtnOn {
    cursor: pointer;
	opacity: 1.0;
}
img.slideBtnOff {
    cursor: default;
	opacity: 0.1;
}
circle.slideControl {
    cursor: pointer;
    fill: lightblue;
}
circle.slideControlSelected {
    fill: steelblue;
}
button.TAPPAS {
    background-color: #286DA8;
    color: white;
    font-weight: bold;
    font-size: large;
    padding: 7px;
    cursor: pointer;
}

/* Overview Section */
span.marker {
    font-size: medium;
    font-weight: bold;
    color: steelblue;
}
table.matrix {
    border: 0px;
    padding-left: 0px;    
}
table.matrix td {
    padding-left: 5px;
}
table.matrix th {
    padding-left: 5px;
    text-align: left;
}
div.subtabButton {
    width:28px;
    height:28px;
    padding: 0px;
    display: inline-block;
    border: 1px solid gray;
    /*background: linear-gradient(#f0f8ff 0%, #f3f3f8 50%, #ececf6 51%, #f2f4f8 100%);*/
    background: linear-gradient(#a2ca72 0%, #b3db84 40%, #b3db84 60%, #a2ca72 100%);
    background-insets: 0 0 -1 0,0,1;
    background-radius: 2,2,1;
}

